<%- include("partial/header") %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome</h1
        <p>
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campgrounds</a>
        </p>
    </div>

  </header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <%campsites.forEach(function(site){%>
      <div class="col-md-3 col sm-6">
          <div class="thumbnail">
            <img src="<%=site.img%>" alt=""><br>
            <div class="caption">
                <%=site.Name %>
            </div>
            <a href="/campgrounds/<%=site._id%>" class="btn btn-primary">More Info</a>
          </div>

      </div>
  <%})%>
</div>

<%- include("partial/footer") %>

</div>
